<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fs2ff.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fs2ff.Preferences>
            <setting name="ip_address" serializeAs="String">
                <value />
            </setting>
            <setting name="att_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gdl90_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stratus_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stratux_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pos_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tfk_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ip_detection_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_connect_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="att_freq" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ip_hint_time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="hide_static_traffic_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasSetDefaults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="auto_exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settings_pane_visible" serializeAs="String">
                <value>False</value>
            </setting>
        </fs2ff.Preferences>
    </userSettings>
</configuration>